<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd/MM HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/error.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>ERROR</level>
		</filter>
		<encoder>
			<pattern>%d{dd/MM HH:mm:ss} %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="ANALYTICS-FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/executions.log</file>
        <append>true</append>
        <encoder>
			<pattern>%d{dd/MM HH:mm:ss} %logger{36} - %msg%n</pattern>
		</encoder>
    </appender>

	<logger name="com.gvt.web.handlers.DeviceResourceHandler" level="error" />
	<logger name="com.gvt.web.handlers.LocaleHandler" level="error" />
	<logger name="com.gvt" level="trace" />
	<logger name="com.cegedim" level="trace" />
<!-- 	<logger name="org.springframework.security.web.FilterChainProxy" level="trace" /> -->
<!-- 	<logger name="org.springframework.security.oauth2" level="trace" /> -->
	<!-- <logger name="org.springframework.security" level="debug" /> -->

	<logger name="MonitorLogging" level="INFO" additivity="true">
		<appender-ref ref="STDOUT"/>
        <appender-ref ref="ANALYTICS-FILE"/>
    </logger>
    
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>